.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  box-shadow: 3px 0 6px rgba(0,0,0, 0.24);
  background-color: rgb(239, 255, 239);
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color: rgb(5, 63, 5);
  color: #fff;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(5, 63, 5);
  /* text-align: center; */
  /* padding-left: 50%; */
}

.avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.link {
  font-weight: bolder;

}
.active {
  background-color: rgb(37, 143, 37);
  color: #fff;
}

.link:active {
  background-color: rgb(37, 143, 37);
  color: black;
}

.link:focus {
  background-color: rgb(37, 143, 37);
  color: #fff;
}

.link:hover {
  background-color: rgb(239, 255, 239);
  color: black;
}

.basic-box {
  background-color: rgb(37, 143, 37);
  margin-top: 20px;
  width: 90%;
  margin: auto;
  height: 50vh;
}

