.list-box {
  /* border: green 2px solid; */
  height: 100vh;
  text-align: center;
  /* display: grid; */
  margin: 0;
}

.option {
  margin: 50px auto;
  height: 40px;
  width: 40px;
  border: green 4px solid;
  border-radius: 50%;
  font-weight: bolder;
  padding-top: 5px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
