<mat-card style="width: 90%; margin: 20px auto; background-color: rgb(239, 255, 239); height: 90vh;">
  <mat-card-header style="text-align: center; width: 100%; ">
    <div style="width: 50%; margin: 40px auto; " >
      <mat-card-title>
        <h4 style="text-align: center;"><strong>WELCOME TO THE QUIZ APP</strong></h4>
      </mat-card-title>
      <mat-card-subtitle style="text-align: center;">Test you knowledge here</mat-card-subtitle>
    </div>

  </mat-card-header>
  <mat-card-content >
    <div style="width: 60%; margin: 30px auto;">
      <p style="text-align: justify; font-weight: bold; font-size: 20px;">
          The web application is built using Angular Framework and Angular Material. Other frameworks and
        plugins used in the development of this site are BOOTSTRAP, SWEETALERT, CHART.JS.
      </p>
    </div>
  </mat-card-content>
  <mat-card-footer class="profile-footer">
    <h6 style="text-align: center; padding-top: 10px; color: white;">Developed By: Nivedita Rashmi</h6>
  </mat-card-footer>
</mat-card>
